@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
}

:root {
  --background: #F9FAFB; /* Light Gray 50 */
  --foreground: #111827; /* Gray 900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
